# Configuration file

Pump {
    # If set to True, the redstone signal will turn the pump off instead of turning it on [default: false]
    B:invertedRedstoneSignal=false

    ForgeEnergy {
        # Maximum amount of energy that can be held [range: 0 ~ 100000, default: 10000]
        I:capacity=10000

        # Amount of energy consumed per operation or second [range: 0 ~ 1000, default: 50]
        I:consumption=50

        # Whether Forge Energy is required or not [default: false]
        B:enabled=false
    }

}


