# Configuration file

wanderer {
    # If the generic trade list will be cleared before datapack loaded trades are added. [default: false]
    B:"Clear Generic Trades"=false

    # If the rare trade list will be cleared before datapack loaded trades are added. [default: false]
    B:"Clear Rare Trades"=false
    B:"Enable New Trades"=true
}


